<h1>Mes super routes</h1>

<header>
  <nav>
    <ul>
      <li><a routerLink="/">Homepage</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a [routerLink]="[
        '/contact', 
        {
          outlets: {
            router_main: ['value1'], 
            router_sidebar: ['value2']
          }
        }
      ]">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h5>Sidebar</h5>
      <div class="card">
        <div class="card-body">

          <router-outlet name="router_sidebar"></router-outlet>

        </div>
      </div>
    </div>
    <div class="col-8">
      <h5>Main</h5>
      <div class="card">
        <div class="card-body">

          <router-outlet name="router_main"></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<router-outlet></router-outlet>